body {
  background: cornflowerblue;
}
/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: rgb(183, 78, 167);
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: rgb(155, 219, 58);
  }
}
